body {
    font-family: 'Trebuchet MS';
}
.box {
    width:200px;
    float:left;
    background-color: gainsboro;
    border: 2px solid dimgray;    
    margin:5px;
    padding:5px;
}
.box img {
    max-width: 200px;
}
.box h1, .box h2 {
    margin:0;
    text-align: center;
}